<div *ngIf="isLoading | async">
    <img class="center" src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/v1.Y2lkPTc5MGI3NjExNWQ0ODY2YmQ2YTQzNjIyZTZiZTQyNmYy/giphy.webp" alt="">
</div>
<div class="select-sort">
<label>Sort</label>
<select  name="department" [(ngModel)]="department">
    <option value="1" (click)="sort('id')">First Name</option>
    <option value="2" >Last Name</option>
</select>
</div>
<div class="card card-primary" *ngFor="let user of users.data | sort">
    <div class="card-body">
        <a [routerLink]="['/user',user.id]" class="card-block" >
    <div style="background-color: blue;">
        <h3 class="card-title">{{user.first_name}}</h3>
    </div>
        <div class="col-md-12">

            <div class="row">

                <div class="col-md-4">
                    <img class="imageClass" [src]="user.avatar" />
                </div>
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-6">
                            First Name
                        </div>
                        <div class="col-md-6">
                            : {{user.first_name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Last Name
                        </div>
                        <div class="col-md-6">
                            : {{user.last_name}}
                        </div>
                    </div>

                </div>

            </div>
        </div>
        </a>
    </div>
</div>